@media only screen and (max-width: 1000px) { /* >1000px */
    #top-navbar {
        height: 10%;
        gap: 80%;
    }

    #side-navbar {
        width: 10%;
    }
}

@media screen and (max-width: 800px) { /* >300px */
    #top-navbar {
        gap: 75%;
    }
}

@media screen and (max-width: 600px) { /* >300px */
    #top-navbar {
        gap: 70%;
        height: 8%;
    }

    #side-navbar {
        width: 12%;
    }
}